{
  "openapi": "3.1.0",
  "info": {
    "title": "agents.txt — payable demo routes",
    "version": "1.0.0",
    "description": "The open specification for AI agent capability declarations. Layer 4 of the agent-readiness stack.\n\n## API versioning\n\nThis document follows semver in `info.version`. Breaking changes bump the MAJOR field and ship a new document. Clients pin to a major by setting `API-Version: <MAJOR>` on requests or by accepting only the matching media type (`application/json; version=<MAJOR>`). Removed operations are kept in the document for one MAJOR with `deprecated: true` and an `x-deprecation-date` extension before being dropped."
  },
  "servers": [
    {
      "url": "https://agents-txt.com"
    }
  ],
  "paths": {
    "/x402": {
      "get": {
        "operationId": "get-x402",
        "summary": "Synthetic x402 v2 gated route (Solana USDC).",
        "description": "Returns HTTP 402 with x402 v2 accepts on first contact; settles via the public x402.org facilitator after the agent supplies a signed payment payload.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-payment-info": {
          "intent": "charge",
          "method": "x402",
          "amount": "10000",
          "currency": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
          "description": "agents.txt x402 demo charge (0.01 USDC on Solana mainnet)."
        },
        "responses": {
          "200": {
            "description": "Payment verified; response returned.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimit-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "402": {
            "description": "Payment required. Resolve the x-payment-info offer(s) and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem5xx"
          }
        }
      }
    },
    "/mpp": {
      "get": {
        "operationId": "get-mpp",
        "summary": "Synthetic MPP gated route (Tempo + Stripe).",
        "description": "Returns HTTP 402 with a WWW-Authenticate: Payment challenge composed by mppx. Each method activates per the credentials configured on the worker.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-payment-info": {
          "offers": [
            {
              "intent": "charge",
              "method": "tempo",
              "amount": "10000",
              "currency": "0x20c0000000000000000000000000000000000000",
              "description": "agents.txt MPP demo charge (0.01 USDC.e on Tempo mainnet)."
            },
            {
              "intent": "charge",
              "method": "stripe",
              "amount": "1",
              "currency": "usd",
              "description": "agents.txt MPP demo charge (0.01 USD via Stripe — card or Solana USDC)."
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Payment verified; response returned.",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimit-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "402": {
            "description": "Payment required. Resolve the x-payment-info offer(s) and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem5xx"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "Typed error response per RFC 7807 (Problem Details for HTTP APIs).",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URI identifying the error type."
          },
          "title": {
            "type": "string",
            "description": "Short human-readable summary."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "detail": {
            "type": "string",
            "description": "Per-occurrence explanation."
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "URI identifying the specific occurrence."
          },
          "code": {
            "type": "string",
            "description": "Stable machine-readable error code."
          }
        },
        "required": [
          "title",
          "status"
        ]
      },
      "PaginatedList": {
        "type": "object",
        "description": "Cursor-based paginated list envelope. Use `next_cursor` on the next request to fetch the following page; null on the last page.",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor token for the next page, or null when no more pages."
          },
          "has_more": {
            "type": "boolean",
            "description": "Convenience boolean; true while `next_cursor` is non-null."
          }
        },
        "required": [
          "items",
          "next_cursor"
        ]
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Optional client-generated UUID or opaque string. When supplied on a mutating request, the server returns the original response on retry rather than executing the operation a second time. Recommended for any agent retrying a request after a network failure. See https://www.ietf.org/archive/id/draft-ietf-httpapi-idempotency-key-header-08.html.",
        "required": false,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Opaque pagination cursor returned by the previous page (`next_cursor`). Omit on the first page.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of items to return on this page. Server-defined upper bound.",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      }
    },
    "headers": {
      "RateLimit-Limit": {
        "description": "Maximum number of requests per window for this quota policy.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Remaining": {
        "description": "Number of requests remaining in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Reset": {
        "description": "Seconds until the current rate-limit window resets.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Policy": {
        "description": "Rate-limit policy descriptor per RFC 9598 §3.1.",
        "schema": {
          "type": "string"
        }
      },
      "Retry-After": {
        "description": "Seconds the client should wait before retrying.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Problem400": {
        "description": "Bad request: malformed input or missing required field.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Problem401": {
        "description": "Unauthorized: authentication required or invalid credential.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Problem403": {
        "description": "Forbidden: authenticated but not permitted.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Problem404": {
        "description": "Not found.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limited. Retry after `Retry-After` seconds.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Problem5xx": {
        "description": "Server error.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      }
    }
  }
}
